{% extends "shared/base.html" %}

{% block title %} ResetPassword {% endblock title %}

{% block content %}
    <h2 class="text-center">Reset_Password</h2>
    <div class="register-form d-flex justify-content-center align-items-center">
        <form action="{% url "accounts:reset_password" %}" method="post" class="col-md-3">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="send link" class="btn btn-primary btn-sm">
        </form>
    </div>
{% endblock content %}