{% extends "shared/base.html" %}

{% block title %}User panel{% endblock title %}

{% block content %}
<h2 class="text-center">User panel</h2>
    {% if user.avatar %}
    <div class='d-flex justify-content-center align-items-center'>
        <img src="{{ user.avatar.url }}" alt="" width=400 class="img-thumbnail">
    </div>
    {% endif %}
    <div class="register-form d-flex justify-content-center align-items-center">
        <form action="{% url "accounts:user_panel" pk=user.id %}" method="post" class="col-md-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="full_name" class="form-label">First Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="mb-3">
                <label for="full_name" class="form-label">Last Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    {{ form.phone_number }}
                </div>
            </div>
            <div class="mb-3">
                {% comment %} <label for="profile_picture" class="form-label">Profile Picture</label>
                <input type="file" class="form-control" id="profile_picture" name="avatar"> {% endcomment %}
                {{ form.avatar }}
            </div>
            <input type="submit" value="Update" class="btn btn-primary btn-sm">
        </form>
    </div>
{% endblock content %}