{% extends "shared/base.html" %}

{% block title %}User panel{% endblock title %}

{% block content %}
    <h2 class="text-center">User: {{ to_user }} Posts</h2>
    <br>
    <br>
    <div class="container">
        {% if  is_follow == False %}
            <div>
                <a class="btn btn-primary" href="{% url "home:user_follow" pk=to_user.pk %}">Follow</a>
            </div>
        {% elif  is_follow == True%}
            <div>
                <a class="btn btn-primary" href="{% url "home:user_unfollow" pk=to_user.pk %}">Unfollow</a>
            </div>
        {% endif %}
        <br>
        <h1>Posts</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="fw-light">Published by: {{ post.author.username }}</p>
                            <p class="fw-light">Published at: {{ post.created_at }}</p>
                            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                            <a href="{% url "home:post_detail" pk=post.id post_slug=post.slug %}" class="btn btn-primary">
                                Read
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}