{% extends "shared/base.html" %}

{% block title %}User panel{% endblock title %}

{% block content %}
    <h2 class="text-center">User panel</h2>
    <br>
    <div class="register-form d-flex justify-content-center align-items-center">
        <button
            type="button"
            class="btn btn-primary"
        >
        <a class="nav-link active" href="{% url "accounts:reset_password"%}">Reset password</a>
        </button>
    </div>
    <br>
    {% if request.user.avatar %}
    <div class='d-flex justify-content-center align-items-center'>
        <img src="{{ request.user.avatar.url }}" alt="" width=400 class="img-thumbnail">
    </div>
    {% endif %}
    <div class="register-form d-flex justify-content-center align-items-center">
        <form action="{% url "accounts:user_panel" pk=request.user.id %}" method="post" class="col-md-3" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="full_name" class="form-label">First Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="mb-3">
                <label for="full_name" class="form-label">Last Name</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    {{ form.last_name }}
                </div>
            </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    {{ form.phone_number }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.avatar }}
            </div>
            <input type="submit" value="Update" class="btn btn-primary btn-sm">
        </form>
    </div>
    <br>
    <div class="container">
        <h1>Posts</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="fw-light">Published by: {{ post.author.username }}</p>
                            <p class="fw-light">Published at: {{ post.created_at }}</p>
                            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read/Edit</a>
                            <a href="{% url "home:post_delete" pk=post.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}